{% extends "auctions/layout.html" %}

{% block body %}

    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="item name" required>
        <input type="text" name="details" placeholder="details" required>
        <input type="number" step=".01" name="starting_bid" placeholder="starting starting_bid" required>
        <input type="text" name="category" placeholder="category" required>
        <input type="file" name="image"  method="post">
        
        <input type="submit">
    </form>

    
{% endblock %}